<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>

<body>
    <h1>Welcome to your Banker Dashboard, {{ user_id }}</h1>
    <form action="/auth/logout" method="post">
        <button type="submit">Logout</button>
    </form>

    <button><a href="{{ url_for('banker.register_account_view') }}">Register new account</a></button>

    <h1>Deposit Requests</h1>
    {% if deposit_requests %}
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Account Number</th>
                <th>Amount</th>
                <th>IFSC Code</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for request in deposit_requests %}
            {% if request.status=='pending' %}
            <tr>
                <td>{{ request.name }}</td>
                <td>{{ request.account_number }}</td>
                <td>{{ request.amount }}</td>
                <td>{{ request.ifsc_code }}</td>
                <td>
                    <form method="POST"
                        action="{{ url_for('transactions.update_deposit_status', form_id=request.form_id, request_amount=request.amount) }}">
                        <select name="status">
                            <option value="pending" {% if request.status=='pending' %}selected{% endif %}>Pending
                            </option>
                            <option value="accepted" {% if request.status=='accepted' %}selected{% endif %}>Accepted
                            </option>
                            <option value="declined" {% if request.status=='declined' %}selected{% endif %}>Declined
                            </option>
                        </select>
                        <button type="submit">Save</button>
                    </form>

                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No deposit requests found.</p>
    {% endif %}

    <h1>Withdraw Requests</h1>
    {% if withdraw_requests %}
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Account Number</th>
                <th>Amount</th>
                <th>IFSC Code</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for request in withdraw_requests %}
            {% if request.status=='pending' %}
            <tr>
                <td>{{ request.name }}</td>
                <td>{{ request.account_number }}</td>
                <td>{{ request.amount }}</td>
                <td>{{ request.ifsc_code }}</td>
                <td>
                    <form method="POST"
                        action="{{ url_for('transactions.update_withdraw_status', form_id=request.form_id, request_amount=request.amount) }}">
                        <select name="status">
                            <option value="pending" {% if request.status=='pending' %}selected{% endif %}>Pending
                            </option>
                            <option value="success" {% if request.status=='success' %}selected{% endif %}>Success
                            </option>
                            <option value="declined" {% if request.status=='declined' %}selected{% endif %}>Declined
                            </option>
                        </select>
                        <button type="submit">Save</button>
                    </form>

                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No Withdraw requests found.</p>
    {% endif %}


    <h1>Registerd Accounts</h1>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Account Number</th>
                    <th>IFSC Code</th>
                    <th>Balance</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for account in all_accounts %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.phone_number }}</td>
                    <td>{{ account.address }}</td>
                    <td>{{ account.account_number }}</td>
                    <td>{{ account.ifsc_code }}</td>
                    <td>{{ account.balance }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('banker.delete_account', account_number=account.account_number) }}" style="display:inline;">
                            <button type="submit">Delete</button>
                        </form>
                        <button><a href="{{ url_for('banker.edit_account', account_number=account.account_number) }}">Edit</a></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    

    <h1>Balance checks History</h1>
    <table border="1">
        <thead>
          <tr>
            <th>Account Number</th>
            <th>Name</th>
            <th>Balance Checks</th>
          </tr>
        </thead>
        <tbody>
          {% for account in all_accounts %}
          <tr>
            <td>{{ account.account_number }}</td>
            <td>{{ account.name }}</td>
            <td>{{ account.balance_checks }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</body>

</html>