<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Deposit</title>
</head>

<body>
    <div>
        <h1>Deposit Amount</h1>
        <form method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br>

            <label for="account_number">Account Number:</label>
            <input type="text" id="account_number" name="account_number" required><br>

            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" required><br>

            <label for="ifsc_code">IFSC Code:</label>
            <input type="text" id="ifsc_code" name="ifsc_code" required><br>

            <button type="submit">Deposit</button>
        </form>
    </div>
    <div>
        <h1>Check Deposit Status</h1>
        <div>
            {% if msg %}
                <p>{{ msg }}</p>
            {% else %}
            {% for request in deposit_requests %}
            <div>
                <p>{{ request.account_number }}</p>
                <p>{{ request.ifsc_code }}</p>
                <p>{{ request.amount }}</p>
                <p>{{ request.status }}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</body>

</html>